**/node_modules
**/npm-debug.log

**/*.test.ts
**/tests/

.env
**/.env

frontend/.next
!frontend/.next/static
!frontend/.next/standalone

.git
.github
.vscode
README.md
**/.DS_Store

**/jest.config.js
**/.dockerignore
**/Dockerfile

cyberpress/