**/node_modules
**/npm-debug.log

**/*.test.ts
**/tests/

.env
**/.env

**/.env.local

frontend/.next
!frontend/.next/static
!frontend/.next/standalone

.git
.github
.vscode
README.md

**/jest.config.js

frontend/cyberpress

docs